body {
  padding: 40px 0;
  margin: 0;
  background-color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

#introduction {
  width: 50%;
  margin: 100px auto;
}

.play {
  padding: 0 60px;
}
